.landing {
    color: #fff;
    font-family: 'Oswald';
    z-index: 1;
}

.landing h1 {
    font-size: 10vw;
    text-shadow: #46b1c8 3px 3px 0px;
    text-transform: uppercase;
}

.landing h3 {
    text-shadow: #7e48b2 3px 3px 0px;
}

.header {
    background-color: #000000b5;
}

.header a {
    color: #fff;
}

video {
    position: absolute;
    height: 100vh;
    object-fit: fill;
    width: 100%;
    z-index: -1;
}