{% extends "base.html" %}
{% block title %}Login - Mizio{% endblock %}
{% block externalcss %}
<link href="{{ url_for('static', filename='login.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
<div class="hero fullscreen hero-img parallax-img">
    <div class="hero-body">
        <div class="content">
            <form class="frame" method="post">
                <div class="frame__header"></div>
                <div class="frame__body">
                    <h3>Login</h3>
                    <div class="form-section">
                        <label>Email</label>
                        <div class="input-control">
                            {{ form.email(class="input-contains-icon input-control--pilled", placeholder="Email") }}
                            <span class="icon">
                                <i class="far fa-wrapper fa-envelope-open small"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-section">
                        <label>Password</label>
                        <div class="input-control">
                            {{ form.password(class="input-contains-icon input-control--pilled", placeholder="Password") }}
                            <span class="icon">
                                <i class="fas fa-wrapper fa-key small"></i>
                            </span>
                        </div>
                    </div>
                    <space></space>
                    <button class="btn-info u-pull-right" name="login" type="submit">Log In</button>
                    <span class="fg-danger info">{{ error }}</span>
                    <p class="info">No account? <a class="u u-LR" href="/register">Register</a> today!</p>
                    <span class="info">If there are any issues, please email our admin at admin@mizio.io .</span>
                </div>
                <div class="frame__footer"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}